<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="/">Inbox</a>
    <div class="pull-right">
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path, method: :delete, class: 'text-muted' %>
        <%= image_tag current_user.image.thumb, class: 'user-img', alt: current_user.username %>
      <% end %>
    </div>
  </div>
</nav>